/* RESET */
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
em,
img,
u,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
article,
aside, 
figure,
figcaption,
footer,
header,
nav,
strong,
section,
time,
audio,
video{
  border:0;
  font-size:100%;
  font:inherit;
  margin:0;
  padding:0;
  vertical-align:baseline;
  box-sizing: border-box;
}
html{scroll-behavior:smooth;}
body{
  background:rgb(233, 233, 233);
  color:#000;
  font-family:Arial, Helvetica, sans-serif;
  font-size:14px;
  line-height:1;
}
img{width:100%;}
ol, 
ul,
li{list-style:none;}
strong{font-weight: bold;}
table{
  border-collapse:collapse;
  border-spacing:0;
  width:100%;
}
a,
a:hover{
  color:#000;
  text-decoration:none;
  cursor:pointer;
}
:focus{outline:0;}
:hover{transition:.3s ease;}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
textarea,
select{
  border:0;
  border-bottom:1px solid #000;
  color:#000;
  padding:8px 0;
  font:14px Arial, Helvetica, sans-serif;
  background:transparent;
  width:100%;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus{border-color:#900;}
input[type="submit"],
input[type="button"],
button{
  border:1px solid #000;
  text-transform:uppercase;
  padding:10px 30px;
  color:#000;
  font:12px Arial, Helvetica, sans-serif;
  background:transparent;
}
input[type="text"]:placeholder,
input[type="email"]:placeholder,
input[type="tel"]:placeholder,
input[type="search"]:placeholder,
input[type="url"]:placeholder{color:#666;}

/* Estilização */

/* CONTAINER */
.container{
  width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

/* HEADER */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
/* Nunca escalonar imagem por CSS */
h1{
  width: 250px;
}

/* MENU */
nav ul{
  display: flex;
}
nav li{
  margin-left: 20px;
}
nav a{
  text-transform: uppercase;
  font: 18px Arial, Helvetica, sans-serif;
}
nav a:hover{
  color: #990;
  cursor: pointer;
}

/* CONTEÚDO */
.banner{
  position: relative;
}
.banner h2{
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font: bold 40px Arial, Helvetica, sans-serif;
  transform: translate(-50%, -50%);
}

/* POSTS */
.posts-main{
  background: #fff;
  padding: 30px;
  position: relative;
  top: -50px;
  border-radius: 15px;
  display: flex;
  gap: 40px
}
article.post-content {
  height: 250px;
}
.posts-main > article{
  width: 75%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}
.post-content{
  display: flex;
  gap: 30px;
  font-size: 16px;
  margin-bottom: 30px;
}
.post-content img{
  /* Deixa a imagem com tamanho original */
  width: fit-content;
  display: flex;
}
section article img{
  border-radius: 5px;
}
.post-content h4{
  margin: 10px 0 20px;
  font-size: 18px
}
.cat-1{
  color: #900;
  font-weight: bold;
}
.cat-2{
  color: #009;
  font-weight: bold;
}
.post-content h3{
  font: bold 36px Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}
.post-text{
  color: rgb(92, 92, 92);
  font: 18px/25px Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  height: 75px;
  overflow: hidden;
}

/* SIDEBAR */
aside{
  width: 25%
}
aside h3{
  margin:30px 0 20px;
  font: bold 22px Arial, Helvetica, sans-serif;
}
aside li{
  padding: 10px 0;
  line-height: 30px;
}
aside a{
  color:#009;
  font-size: 16px;
}
footer{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  border-top: 1px solid;
}